
main {
    border: 2px solid rgb(52, 73, 94);
}

#info {
    margin-left: 15px;
    margin-top: 15px;
    width: 98%;
    height: 70px;
    background-color: rgb(52, 73, 94);
}

.infoS {
    width: 7%;
    float: left;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.infoT {
    width: 91.5%;
    margin-top: 10px;
}

#options {
    width: 100%;
    margin-top : 10px;
}

.opt {
    color: white;
    background-color: rgb(52, 73, 94);
    border: none;
    width: 12%;
    height: 25px;
    margin-left: 1%;
}

.opt:hover {
    background-color: lightgray;
    color: rgb(52, 73, 94);
    cursor: pointer;
}

#error {
    color: red;
    margin-left: 1%;
}

#message {
    margin: 5px 1%;
    width: 97.5%;
    height: 540px;
    border: 2px solid rgb(52, 73, 94);
    resize: none;
}
