#cont {
	margin: 30px 10%;
	width: 520px;
}

table {
    border-collapse: collapse; 
}
tr {
	width: 100%;
	border: 2px solid rgb(52, 73, 94);
}

td {
	width: 10%;
	height: 25px;
	font-size: 18px;
}

.right {
	text-align: right;
}

#submit {
	margin-top: 5px;
	float: left;
	background-color: rgb(52, 73, 94);
	border: none;
	color: white;
	width: 75px;
	height: 25px;
}

#submit:hover {
    background-color: lightgray;
	color: rgb(52, 73, 94);
	cursor: pointer;
}
