#reports {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}

.row {
    height: 30px;
}

.row:hover {
    cursor: pointer;
    background-color: lightgray;
    border: none;
}

.titles {
    font-size: 19px;
    font-weight: 1000;
}

#bans {
    width: 50%;
    font-size: 18px;
}

#bans button {
    width: 150px;
    background-color: rgb(52, 73, 94);
	border: none;
    color: white;
    margin-top: 5px;
    height: 20px;
}