main {
}

#event {
  display: none;
  width: 95%;
  height: 70px;
  margin-left: 15px;
  background-color: lightsalmon;
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 70px;
}
#info {
  margin-left: 15px;
  margin-top: 15px;
  width: 95%;
  height: 100px;
  background-color: rgb(52, 73, 94);
}

.infoS {
  width: 7%;
  float: left;
  margin-top: 10px;
  text-align: center;
  color: white;
}
.infoT {
  width: 90%;
  height: 16px;
  margin-top: 10px;
  background-color: white;
  display: inline-block;
}

#options {
  width: 100%;
  margin-top: 10px;
}

.opt {
  color: white;
  background-color: rgb(52, 73, 94);
  border: none;
  width: 12%;
  height: 25px;
  margin-left: 1%;
}

.opt:hover {
  background-color: lightgray;
  color: rgb(52, 73, 94);
  cursor: pointer;
}

#error {
  color: red;
  margin-left: 1%;
}

#message {
  margin: 5px 1%;
  width: 95%;
  height: 540px;
  border: 2px solid rgb(52, 73, 94);
  resize: none;
}
